@model Security.Domain.DTO.User.UserPasswordEditModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "ChangePassword";
}

<div>
    <form asp-action="ChangePassword" id="frmPassnew" class="FormAddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-AddNew">
                <label >شناسه کاربر</label>
                <input asp-for="UserID" value="@ViewBag.id"  readonly="@(true)" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
      @*  <div class="form-AddNew">
                <label > رمز قبلی</label>
                <input asp-for="OldPassword"  />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>*@
        <div class="form-AddNew">
                <label >رمز جدید</label>
                <input asp-for="Password"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
        </form>
    <div class="btn-modal">
        <span type="submit" id="btnChangePassword" class="btn btn-success btn-Edit "
              data-action='@Url.Action("ChangePassword","UserManagement")' data-form="frmPassnew">Change</span>

        <span class="btn btn-primary btn-Cancel" id="btnCancelEdit">Cancel</span>
    </div>
    </div>



