<div class="listing-header default">
    <ul class="listing-sort nav nav-tabs justify-content-center" role="tablist"
        data-label="مرتب‌سازی بر اساس :">
        <li>
            <a data-toggle="tab" id="related" class="active" href="" role="tab"aria-expanded="false">مرتبط‌ترین</a>
        </li>
        <li>
            <a data-toggle="tab" id="most-view" href="" role="tab"aria-expanded="false">پربازدیدترین</a>
        </li>
        <li>
            <a data-toggle="tab" id="new" href="" role="tab" aria-expanded="true">جدیدترین</a>
        </li>
        <li>
            <a data-toggle="tab" id="most-seller" href="" role="tab"aria-expanded="false">پرفروش‌ترین‌</a>
        </li>
        <li>
            <a data-toggle="tab" id="down-price" href="" role="tab"aria-expanded="false">ارزان‌ترین</a>
        </li>
        <li>
            <a data-toggle="tab" id="top-price" href="" role="tab"aria-expanded="false">گران‌ترین</a>
        </li>
    </ul>
</div>