@model Security.Domain.DTO.RoleAction.RoleActionSearchModel


@{
    ViewData["Title"] = "دسترسی ها";
    Layout = "~/Views/Shared/_PanelAdmin.cshtml";
}
  <div class="IndexPagePanel">
    <div id="dvSearch" class="DvSearch">
    @await Component.InvokeAsync("RoleActionSearchBox",this.Model)
</div>

    <div id="dvGrid" class="ListBox">
    @await Component.InvokeAsync("RoleActionList",this.Model)
</div>
</div>