@model Security.Domain.DTO.User.UserAddModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Defualt";
}
<div >
        <form asp-action="Defualt" id="frmAddnew" class="FormAddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-AddNew">
            <label>نام:</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-AddNew">
            <label>نام خانوادگی:</label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
            <div  class="form-AddNew">
                <label  >نام کاربری</label>
                <input asp-for="UserName"  />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div  class="form-AddNew">
                <label >رمز:</label>
                <input asp-for="Password"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div  class="form-AddNew">
                <label  >ایمیل:</label>
                <input asp-for="Email"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div  class="form-AddNew">
                <label  >موبایل:</label>
                <input asp-for="Mobile"  />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

           
            <div  class="form-AddNew">
                <label  >نقش:</label>
                <select asp-for="RoleID" asp-items=@ViewBag.drpRole ></select>
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>
        <div class="form-AddNew">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsEmailActivated" /> @Html.DisplayNameFor(model => model.IsEmailActivated)
            </label>
        </div>
        <div class="form-AddNew" style="flex-basis:100%">
            <label style="width:7%"> آدرس:</label>
            <input asp-for="Address" style="width:90%" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
            
        </form>
    <div class="btn-modal">

        <span type="submit" id="btnAddNew" class="btn btn-primary "
              data-action='@Url.Action("AddNew","UserManagement")'
              data-form="frmAddnew" data-method="post"
              data-action-BindGrid='@Url.Action("UserList","UserManagement")'
              data-action-RefreshGrid='@Url.Action("UserSearchBox","UserManagement")'>ثبت جدید</span>
               <span class="btn btn-primary btn-Cancel" id="btnCancelEdit">انصراف</span>
    </div>
    </div>



