@model Shopping.DomainModel.DTO.Supplier.SupplierSearchModel

    <div class="SerachBox">
        <form asp-action="Default" id="frmSearch" class="FormSearch">
            <div class="SearchBox-div">
                <label >سازنده:</label>
                <input asp-for="SupplierName" class="form-control" data-action='@Url.Action("SupplierList", "SupplierManagment")' data-search="search" />
            </div>
            <div class="SearchBox-div">
                <label >تلفن:</label>
                <input asp-for="Tel" class="form-control" data-action='@Url.Action("SupplierList", "SupplierManagment")' data-search="search" />
            </div>
            <div class="SearchBox-div">
                <label>موبایل:</label>
                <input asp-for="Mobile" class="form-control" data-action='@Url.Action("SupplierList", "SupplierManagment")' data-search="search" />
            </div>
            <div class="btnAddNew">
                <a href="#" class="btn btn-success " 
                   data-action='@Url.Action("AddNew","SupplierManagment")'
               data-container="dvAddEditModel" data-modal-id="myModal" data-showAddModel="showAddModel">
                ثبت جدید
            </a>
            </div>
        </form>
    </div>

