@model Security.Domain.DTO.Role.RoleAddModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Default";
}

<div >
    <form asp-action="Default" id="frmAddnew" class="FormAddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-AddNew">
                <label >نقش:</label>
                <input asp-for="RoleName"  />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
             
        </form>

    <div class="btn-modal">

              <span type="submit" id="btnAddNew" class="btn btn-primary "
                      data-action='@Url.Action("AddNew","RoleManagement")'
                      data-form="frmAddnew" data-method="post"
                      data-action-BindGrid='@Url.Action("RoleList","RoleManagement")'
              data-action-RefreshGrid='@Url.Action("RoleSearchBox","RoleManagement")'> ثبت جدید</span>
        <span class="btn btn-primary btn-Cancel" id="btnCancelEdit">انصراف</span>
            </div>
    </div>


