@model IEnumerable<Shopping.DomainModel.DTO.Product.ProductListItem>
<div class="row">
    <div class="col-12">
        <div class="widget widget-product card">
            <header class="card-header">
                <h3 class="card-title">
                    <span>جدید ترین محصولات</span>
                </h3>
                @*<a href="#" class="view-all">مشاهده همه</a>*@
            </header>
            @{await Html.RenderPartialAsync("_ProductBox",Model);}
        </div>
    </div>
</div>