@model Shopping.DomainModel.DTO.Supplier.SupplierAddEditModel

@{
    ViewData["Title"] = "View";
}


    <div class="">
        <form asp-action="Default" id="frmAddnew" class="FormAddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-AddNew">
                <label  >نام سازنده:</label>
                <input asp-for="SupplierName"  />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
        <div class="form-AddNew">
                <label  > آدرس:</label>
                <input asp-for="Address"  />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        <div class="form-AddNew">
                <label  >موبایل:</label>
                <input asp-for="Mobile"  />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
        <div class="form-AddNew">
                <label >تلفن :</label>
                <input asp-for="Tel"  />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
        
        </form>

    <div class="btn-modal">

        <span type="submit" id="btnAddNew" class="btn btn-success "
              data-action='@Url.Action("AddNew","SupplierManagment")'
              data-form="frmAddnew" data-method="post"
              data-action-BindGrid='@Url.Action("SupplierList","SupplierManagment")'
              data-action-RefreshGrid='@Url.Action("SupplierSearchBox","SupplierManagment")'>ثبت جدید</span>
        <span class="btn btn-primary btn-Cancel" id="btnCancelEdit">انصراف</span>
    </div>
 </div>




