@model Security.Domain.DTO.ProjectArea.ProjectAreaUpdateModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Update";
}

<div>
    <form asp-action="Update" id="frmEditnew" class="FormAddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-AddNew">
                <label >شناسه اریا:</label>
                <input asp-for="ProjectAreaID"  readonly="@(true)" />
                <span asp-validation-for="ProjectAreaID" class="text-danger"></span>
            </div>
        <div class="form-AddNew">
                <label >نام اریا:</label>
                <input asp-for="AreaName"  />
                <span asp-validation-for="AreaName" class="text-danger"></span>
            </div>
        <div class="form-AddNew">
                <label >توضیحات:</label>
                <input asp-for="PersianTitle"  />
                <span asp-validation-for="PersianTitle" class="text-danger"></span>
            </div>
           
        </form>
    <div class="btn-modal">
        <span type="submit" id="btnEdit" class="btn btn-success btn-Edit"
              data-action='@Url.Action("Update","ProjectAreaManagement")'
              data-form="frmEditnew" data-method="post"
              data-action-BindGrid='@Url.Action("AreaList","ProjectAreaManagement")'
              data-action-RefreshGrid='@Url.Action("AreaSearchBox","ProjectAreaManagement")'>Edit</span>

        <span class="btn btn-primary btn-Cancel" id="btnCancelEdit">Cancel</span>
    </div>
  </div>



