@model Security.Domain.DTO.ProjectController.ProjectControllerAddModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Default";
}
<div>
    <form asp-action="Default" id="frmAddnew" class="FormAddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-AddNew">
                <label >کنترلر</label>
                <input asp-for="ProjectControllerName"  />
                <span asp-validation-for="ProjectControllerName" class="text-danger"></span>
            </div>
            <div class="form-AddNew">
                <label >توضیحات</label>
                <input asp-for="PersianTitle"  />
                <span asp-validation-for="PersianTitle" class="text-danger"></span>
            </div>
            <div class="form-AddNew">
                <label >اریا</label>
                <select asp-for="ProjectAreaID" asp-items=@ViewBag.drpArea ></select>
                <span asp-validation-for="ProjectAreaID" class="text-danger"></span>
            </div>
           
        </form>
    <div class="btn-modal">
        <span type="submit" id="btnAddNew" class="btn btn-primary "
              data-action='@Url.Action("AddNew","ProjectControllerManagement")'
              data-form="frmAddnew" data-method="post"
              data-action-BindGrid='@Url.Action("ControllerList","ProjectControllerManagement")'
              data-action-RefreshGrid='@Url.Action("ControllerSearchBox","ProjectControllerManagement")'>ثبت جدید</span>
        <span class="btn btn-primary btn-Cancel" id="btnCancelEdit">انصراف</span>
    </div>
    </div>


