<div class="row">
    <div class="col-12">
        <nav>
            <ul class="breadcrumb">
                <li>
                    <a href="/"><span>فروشگاه اینترنتی تاپ کالا</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>